.gallery {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid #808080;
}

.gallery-socials-list {
  display: flex;
  justify-content: space-evenly;
}

.gallery-social-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-social-item span {
  font-weight: 600;
  line-height: 1.3;
  display: flex;
}
